.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  margin: 10px
}

textarea {
  margin: 2px;
}

.nav {
  background: #4a1894;
}

.topText {
  color: white;
}

.topBar {
  width: 100%;
}

.topBar-item {
  margin: 10px;
}

.grid-item:hover {
  background: orange;
}

.hoverable:hover {
  background: #cbcb77;
}

@media (min-width: 1100px) {
  .container {
    margin-top: 50px;
  }

  .SideBar {
    position: fixed;
    margin-top: 50px;
  }
}
@media (max-width: 1100px) {
  .container {
    margin-top: 95px;
  }

  .SideBar {
    position: fixed;
    margin-top: 95px;
  }
}

@media (max-width: 580px) {
  .container {
    margin-top: 140px;
  }
}
@media (max-width: 550px) {
  .container {
    margin-top: 180px;
  }
}

.container {
  margin-left: unset;
  margin-right: unset;
}


.TimeTag {
  margin-bottom: 0px !important;
  background: #cbcb77;
}
